<div class="st-searchIcon hidden-desktop" id="st-mobile-search-icon">
  <span class="st-search-icon-mobile"><svg class="st-searchicon" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </use></svg></span>
</div>
<style>
  .st-searchIcon.hidden-desktop {
    display: none;
  }
  span.st-search-icon-mobile {
    padding: 0;
    margin: 0 5px;
    font-size: 20px;
  }
  .st-search-icon-mobile svg.st-searchicon {
    margin-top: 10px;
    height: 25px;
    width: 25px;
}
  @media only screen and (max-device-width: 833px){
    .st-searchIcon.hidden-desktop {
      display: inline-block;
    }
  }
</style>