/* .mega-menu {
  position: static;
} */

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 90%;
  z-index: 0;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: grid;
  gap: 0 9rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  font-size: 1.3rem;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-size: 1.4rem;
}

.mega-menu__link--level-2:not(:only-child) {
  margin-bottom: 0.8rem;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  /*   padding-right: 2.4rem; */
  padding-right: 5rem;
}

.header--top-center .mega-menu__list > li .mega-menu__link--level-2 {
  text-decoration: underline;
}
/* START -- TARGETING (childlink-not__found) CLASS REMOVING THE UNDERLINE */
.header--top-center
  .mega-menu__list
  > li
  .mega-menu__link--level-2.childlink-not__found {
  text-decoration: none;
}
/* END -- TARGETING (childlink-not__found) CLASS REMOVING THE UNDERLINE */
.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
}

.mega-menu .mega-menu__list--condensed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* height: 23.7rem; */
  padding: 1rem 0 2.5rem;
  margin-left: 20%;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
  color: white;
}
header-drawer {
  justify-self: start;
}
.mega-menu__content {
  display: flex;
  height: 21.3rem;
  overflow: hidden;
  background: black;
}
.mega-menu_button__conatainer {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: end;
}

@media screen and (min-width: 990px) {
  header-drawer {
    display: none;
  }
  .header.header--top-center{
    height:164px;
  }
  .header__inline-menu{
    margin-top:0;
  }
}

.menu-drawer-container {
  display: flex;
}

summary.list-menu__item {
  padding-right: 2.7rem;
}

.list-menu__item {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  font-weight: 400;
  color: white;
}

.list-menu__item--link {
  text-decoration: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
}
.header__megamenu-banner {
  display: flex;
}
.header__megamenu1,
.header__megamenu2 {
  position: relative;
}
.megamenu-button1,
.megamenu-button2 {
  position: absolute;
  bottom: 10%;
  right: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  width: 40%;
  text-align: center;
  opacity: 0.9;
  text-transform: uppercase;
}
@media screen and (min-width: 750px) {
  .list-menu__item--link {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
.megamenu-overlay_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block !important;
}

//I added

header.new-class .header__menu-item {
  color: white;
}
header.new-class .header__menu-item:hover {
  color: white;
}
header.new-class details[open] > .header__menu-item {
  background: black;
  color: white;
}
header.new-class details[open] > .header__menu-item span {
  color: white;
}

header.new-class .list__item svg path,
header.new-class .header__icon--account svg,
header.new-class .header__icon--cart svg {
  fill: white;
}
header.new-class .st-search-bar input {
  border: 1px solid white;
}
header.new-class .social-share {
  border-bottom: unset;
}
header.new-class .mega-menu__link:hover,
header.new-class .header__menu-item,
header.new-class .mega-menu__list--condensed .mega-menu__link {
  color: white;
}

header-menu details[open] > .header__menu-item {
  position: relative !important;
  overflow: hidden;
}

header-menu summary.menu__item__list::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom:1.5px solid white;
  transition: width 0.4s ease;
  z-index:1
}

header-menu details[open] summary.menu__item__list::after {
  width: 100%;
}

.header.header--top-center.header--mobile-center:focus-visible {
  outline: unset !important;
}
header.new-class .mega-menu__content {
  height: fit-content;
  background: black;
}
.mega-menu__content {
  height: fit-content;
}
.list__item svg path,
.header__icon--account svg,
.header__icon--cart svg {
  fill: white;
}
.st-search-bar input {
  border: 1px solid white !important;
}
details[open]:hover > .header__menu-item {
  background: black;
  color: white;
}
.header__menu-item,
.header__menu-item:hover .mega-menu__list--condensed .mega-menu__link {
  color: white;
}

.header-wrapper {
  box-shadow: unset;
}
.mega-menu__list:hover ~ details.mega-menu,
details.mega-menu[open] {
  background-color: black;
}

details.mega-menu:not([open]):hover,
.header-wrapper 
{
  background-color: black;
}

details.mega[open] {
  background-color: black;
}
.header.header--top-center.header--mobile-center.header--has-menu.new-class.transition-effect {
  transform: translateZ(0);
}
.sticky__header {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  transform: translate3d(0,-100%,0);
  transition: none;
}

.header.header--top-center.header--mobile-center.new-class {
    background: black;
    transform: translateZ(0);
    transition:  transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

@media screen and (max-width: 990px) {
  .header__icon--menu.header__icon--summary svg,
  .menu-drawer summary.menu-drawer__menu-item {
    color: white;
  }
  
  #menu-drawer {
    height: 100dvh;
  }
  .header-wrapper  {
    padding-top:18px;
  }
}


