<custom-page class="custom-page--container">
    <div class="custom-page--wrapper">
      {% section 'single--logo' %}
      {% section 'image-slideshow' %}
      {% section 'images-college' %}
      {% section 'image-with-text-1' %}
      {% section 'image-with-text-2' %}
      {% section 'image-with-text-3' %}
      {% section 'multicolumn' %}
    </div>
</custom-page>